@import url('https://fonts.googleapis.com/css?family=Ubuntu');
$color: white;

body {
  font-family: 'Ubuntu', sans-serif;

  .navbar {
    height: 80px;
  }

  .air{
    background-image: url('/images/air.jpg');
    background-size: cover;
    height: 300px;

  }
  .bike{
    background-image: url('/images/bike.jpg');
    background-size: cover;
    height: 300px;
  }
  .tube{
    background-image: url('/images/tube.jpg');
    background-size: cover;
    height: 300px;

  }
  .weather{
    background-image: url('/images/weather.jpg');
    background-size: cover;
    height: 300px;

  }

    .weather-icon {
      height: 150px;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      &.partly-cloudy-day {
        background-image: url('/images/partly-cloudy.png');
      }
      &.clear-day {
        background-image: url('/images/clear.png');
      }
      &.cloudy {
        background-image: url('/images/cloudy.png');
      }
      &.rain {
        background-image: url('/images/rain.png');
      }
      &.fog {
        background-image: url('/images/fog.png');
      }
    }
    .container{
      &.is-flex{
        &.text-centered{
          text-align: center;
        }
      }

    }
  .bikepoints{
    margin-bottom: 15px;
  }
  .column{
    &.status{
      border: 1px solid black;
    }
    &.tube-color {
      height: 50px;
      border: 1px solid black;
      &.Bakerloo{
       background-color: #B26300;
       color: $color;
      }
      &.Central{
       background-color: #DC241F;
       color: $color;
      }
      &.Circle{
       background-color: #FFD329;
       color: $color;
      }
      &.Circle{
       background-color: #FFD329;
       color: $color;
      }
      &.District{
       background-color: #007D32;
       color: $color;
      }
      &.Hammersmith{
       background-color: #F4A9BE;
       color: $color;
      }
      &.Jubilee{
       background-color: #868F98;
       color: $color;
      }
      &.Metropolitan{
       background-color:#751056;
       color: $color;
      }
      &.Northern{
       background-color:#000000;
       color: $color;
      }
      &.Piccadilly{
       background-color:#0019A8;
       color: $color;
      }
      &.Victoria{
       background-color:#00A0E2;
       color: $color;
      }
      &.Waterloo{
       background-color:#93CEBA;
       color: $color;
      }
    }
  }

}
